@import "tailwindcss";

:root {
  --primary-bg: hsl(0, 0%, 0%);
  --text-primary: #FFFFFF;
  --text-secondary: #E0E0E0;
  --accent-color: #1E90FF;
  --hover-color: #4A6A8A;
  --click-blue: #1E90FF;
  --spacing-unit: 1rem;
  --natural-color: #F5F5F5;
}

@theme {
  --color-primary-bg: hsl(0, 0%, 0%);
  --color-primary: #FFFFFF;
  --color-secondary: #E0E0E0;
  --color-accent: #1E90FF;
  --color-hover: #4A6A8A;
  --color-click: #1E90FF;
  --color-natural: #F5F5F5;
  --spacing-unit: 1rem;
}

.default-text-shadow {
  @apply text-shadow-[0px_0px_30px_var(--accent-color)] no-underline;
}

.link {
  @apply text-secondary hover:text-hover transition-all;
}

.header {
  @apply backdrop-blur-sm fixed top-0 w-screen max-w-6xl left-1/2 -translate-x-1/2 px-8 py-8 flex justify-between items-center z-20;
  background-color: rgba(0, 0, 0, 0.5);
}

.service-box {
  @apply text-center space-y-2 hover:scale-105 transition-all duration-300;

  h3 {
    @apply text-xl font-[Orbitron] font-semibold;
  }
}

.section-title {
  @apply text-3xl font-bold font-[Orbitron] mb-8 text-shadow-[5px_5px_30px_var(--accent-color)] no-underline;
}

.triangle {
  --b: 5px;
  /* control the border thickness */

  width: 150px;
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(50% 0, 100% 100%, 0 100%, 50% 0, 50% var(--b), calc(var(--b)*cos(30deg)) calc(100% - var(--b)/2), calc(100% - var(--b)*cos(30deg)) calc(100% - var(--b)/2), 50% var(--b));
  background: white;
}

.section-subtitle {
  @apply text-xl font-[Orbitron] font-semibold mb-2 text-shadow-[5px_5px_30px_var(--accent-color)] no-underline;
}

dialog::backdrop {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
}

dialog {
  border: none;
  max-height: 80vh;
  overflow-y: auto;
}

dialog:focus {
  outline: none;
}

.text-accent {
  color: #4f9eff;
}

.loading-placeholder {
  background: url("/assets/placeholder.png") no-repeat center center;
  background-size: cover;
}

.service-button {
  @apply border-[0.5px] border-accent p-4 rounded-lg relative overflow-hidden;
  box-shadow: 0 0 10px var(--accent-color);
  transition: all 0.3s ease;
}

.service-button:hover {
  box-shadow: 0 0 10px var(--accent-color), 0 0 40px var(--accent-color);
  transform: translateY(-5px);
}

.service-button:active {
  transform: translateY(0);
  box-shadow: 0 0 5px var(--accent-color);
}
